{% if notifications_enabled %}
    <script src="{{ asset('bundles/xlabsnotifications/_XLN.js') }}"></script>
    <script src="{{ asset('bundles/xlabsnotifications/functions.js') }}"></script>

    <script src="{{ asset('notifications/node_modules/socket.io/node_modules/socket.io-client/socket.io.js') }}"></script>

    <script>
        let XLN = new _XLN();
        XLN.init();

        XLN.user = {
            id: '{{ app.user.id }}',
            username: '{{ app.user.username }}',
            //avatar: '',
            //status: 'online'
        };
    </script>

    {% include 'XLabsNotificationsBundle:Frontend:socket_events.html.twig' with {
        'config': config
    } %}
{% endif %}