{#% if notifications is defined and notifications %}
    {% if notifications.items|length %}
        {% for notification in notifications.items %}
            {% include 'XLabsNotifyBundle:Notifier:notification.html.twig' with {
                'notification': notification
            } %}
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(notifications, 'XLabsNotifyBundle:Notifier:pagination.html.twig') }}
        </div>
    {% endif %}
{% endif %#}
{% if notifications is defined and notifications %}
    {% for notification in notifications %}
        {% include 'XLabsNotificationsBundle:Frontend:notification.html.twig' with {
            'notification': notification
        } %}
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(notifications_pagination, 'XLabsNotificationsBundle:Frontend:pagination.html.twig') }}
    </div>
{% endif %}