{% if pageCount > 1 %}
    <div class="pagination">
        {% if first is defined and current != first %}
            <span class="first">
                <a href="javascript:;" data-page="{{ first }}" class="pageBtn">&lt;&lt;</a>
            </span>
        {% endif %}

        {% if previous is defined %}
            <span class="previous">
                <a href="javascript:;" data-page="{{ previous }}" class="pageBtn">&lt;</a>
            </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="page">
                    <a href="javascript:;" data-page="{{ page }}" class="pageBtn">{{ page }}</a>
                </span>
            {% else %}
                <span class="current"><a class="highlight">{{ page }}</a></span>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <span class="next">
                <a href="javascript:;" data-page="{{ next }}" class="pageBtn">&gt;</a>
            </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="last">
                <a href="javascript:;" data-page="{{ last }}" class="pageBtn">&gt;&gt;</a>
            </span>
        {% endif %}
    </div>
{% endif %}