<script>
    let connectionOptions = {
        secure: true,
        reconnection: true,
        rejectUnauthorized: true,
        transports: ['websocket']
        //ca: fs.readFileSync('server-cert.pem')
    };
    XLN.socket = io('https://{{ config.nodejs_settings.host }}/xlabs_notifications{{ channel_name }}', connectionOptions);

    XLN.socket.on('error', function(data){
        document.dispatchEvent(XLN.events.onDisconnected);
        console.log('Notifications server connection could not be established');
    });
    XLN.socket.on('connect_failed', function(data){
        document.dispatchEvent(XLN.events.onDisconnected);
        console.log('Notifications server connection could not be established');
    });
    XLN.socket.on('connect_error', function(data){
        document.dispatchEvent(XLN.events.onDisconnected);
        console.log('Notifications server connection could not be established');
    });
    XLN.socket.on('reconnecting', function reconnectCallback(tries){
        {% if config.settings.socket_io_client_reconnect_atempts %}
            if(tries === {{ config.settings.socket_io_client_reconnect_atempts }})
            {
                // Dont try to reconnect after 3 attempts
                XLN.socket.disconnect();
                document.dispatchEvent(XLN.events.onDisconnected);
            }
        {% endif %}
    });
    XLN.socket.on('connect', function(){
        document.dispatchEvent(XLN.events.onConnected);
    });

    XLN.socket.emit('login', XLN.user);

    XLN.socket.on('message', function(message){

    });

    XLN.socket.on('mark_conversation_as_read', function(data){

    });

    XLN.socket.on('notification', function(data){
        showNotification(data);
    });
    XLN.socket.on('play_sound', function(data){
        playNotificationSound(data.file);
    });
    XLN.socket.on('speak_text', function(data){
        speakText(data.text);
    });
    XLN.socket.on('custom_message', function(data){
        if(typeof window[data.callback] === "function"){
            let callback = data.callback;
            if('destinatary_id' in data) delete data['destinatary_id'];
            if('callback' in data) delete data['callback'];
            window[callback](data);
        }
    });

    // Player for audio notifications
    window.addEventListener('load', function(){
        var xlabs_notification_player_wrapper = document.createElement('div');
        xlabs_notification_player_wrapper.setAttribute('id', 'xlabs_notifications_player_wrapper');
        xlabs_notification_player_wrapper.innerHTML = '<audio id="xlabs_notifications_player"><source id="mp3" src="" type="audio/mpeg" /><embed hidden="true" autostart="false" loop="false" src="" /></audio>';
        document.body.appendChild(xlabs_notification_player_wrapper);

        if(!XLN.socket)
        {
            console.log('Notifications server is not running');
        }
    });
</script>