const app = require('express')();
const express = require('express');
const fs = require('fs');
//const crypto = require('crypto');
//const Promise = require('es6-promise').Promise;
const _ = require('underscore');
//const mysql = require('mysql');

var options = {
    key: fs.readFileSync('{{ bundle_config.nodejs_settings.ssl_key | raw }}'),
    cert: fs.readFileSync('{{ bundle_config.nodejs_settings.ssl_cert | raw }}'),
    //ca: fs.readFileSync('{{ bundle_config.nodejs_settings.ssl_bundle | raw }}'),
    /*ca: [
        fs.readFileSync('path/to/CA_root.crt'),
        fs.readFileSync('path/to/ca_bundle_certificate.crt')
    ],*/
    //requestCert: true
};

var instance = require('https').createServer(options, app);
var io = require('socket.io')(instance);

/*
Redis will allow multiple node.js server instances to communicate with each other (scalability)
 */
var socket_redis = require('socket.io-redis');
io.adapter(socket_redis({ host: '{{ bundle_config.redis_settings.host }}', port: {{ bundle_config.redis_settings.port }} }));

// Namespace for the chat
io = io.of('/xlabs_notifications{{ channel_name }}');

app.use('/js', express.static(__dirname + '/js'));
app.use('/sound', express.static(__dirname + '/sound'));

var XLNotifications = {};
XLNotifications.onlineUsers = {};
XLNotifications.sockets = {};

function checkAvailability(callback) {
    callback({
        'online_user_ids': Object.keys(XLNotifications.onlineUsers),
        'total_online_users': Object.keys(XLNotifications.onlineUsers).length
    });
}
app.get('/check_availability', function (req, res) {
    checkAvailability(function(data) {
        res.setHeader('Content-Type', 'application/json');
        res.json(data);
    });
});

io.on('connection', function(socket){
    socket.on('disconnect', function(reason){
        if(socket.user_id in XLNotifications.onlineUsers)
        {
            var XLNotifications_user = XLNotifications.onlineUsers[socket.user_id];

            var user_status = {};
            user_status[socket.user_id] = false;

            if(XLNotifications_user.id in XLNotifications.sockets)
            {
                XLNotifications.sockets[XLNotifications_user.id] = XLNotifications.sockets[XLNotifications_user.id].filter(function(socket_id) {
                    return socket_id != socket.id
                });
            }
            if(!XLNotifications.sockets[XLNotifications_user.id].length)
            {
                delete XLNotifications.onlineUsers[socket.user_id];
                socket.broadcast.emit('check_user_status', user_status);
                socket.broadcast.emit('logout', XLNotifications_user);
                console.log(XLNotifications_user.username + ' logged out');
            }
        }
    });

    socket.on('login', function(XLNotifications_user){
        XLNotifications_user.socket = socket.id;
        XLNotifications.onlineUsers[XLNotifications_user.id] = XLNotifications_user;
        socket.user_id = XLNotifications_user.id;

        var user_status = {};
        user_status[socket.user_id] = true;
        socket.broadcast.emit('check_user_status', user_status);
        socket.broadcast.emit('login', XLNotifications_user);
        console.log(XLNotifications_user.username + ' logged in');

        // If allow multiple windows => multiple notifications (1 per each tab opened)
        if(!(XLNotifications_user.id in XLNotifications.sockets))
        {
            XLNotifications.sockets[XLNotifications_user.id] = [];
        }

        // For one single window
        //XLNotifications.sockets[XLNotifications_user.id] = [];

        XLNotifications.sockets[XLNotifications_user.id].push(socket.id);
    });

    socket.on('check_user_status', function(XLNotifications_user, aUser_ids){
        var aResults = {};
        for(var i in aUser_ids)
        {
            aResults[aUser_ids[i]] = (aUser_ids[i] in XLNotifications.onlineUsers);
        }
        if(XLNotifications_user.id in XLNotifications.onlineUsers)
        {
            io.to(XLNotifications.onlineUsers[XLNotifications_user.id]['socket']).emit('check_user_status', aResults);
        }
    });

    socket.on('notification', function(data){
        if(data.destinatary_id)
        {
            if(data.destinatary_id in XLNotifications.sockets)
            {
                for(var i in XLNotifications.sockets[data.destinatary_id])
                {
                    io.to(XLNotifications.sockets[data.destinatary_id][i]).emit('notification', data);
                }
            }
        } else {
            io.emit('notification', data);
        }
    });

    socket.on('play_sound', function(data){
        if(data.destinatary_id)
        {
            if(data.destinatary_id in XLNotifications.sockets)
            {
                for(var i in XLNotifications.sockets[data.destinatary_id])
                {
                    io.to(XLNotifications.sockets[data.destinatary_id][i]).emit('play_sound', data);
                }
            }
        } else {
            io.emit('play_sound', data);
        }
    });

    socket.on('speak_text', function(data){
        if(data.destinatary_id)
        {
            if(data.destinatary_id in XLNotifications.sockets)
            {
                for(var i in XLNotifications.sockets[data.destinatary_id])
                {
                    io.to(XLNotifications.sockets[data.destinatary_id][i]).emit('speak_text', data);
                }
            }
        } else {
            io.emit('speak_text', data);
        }
    });

    socket.on('custom_message', function(data){
        if(data.destinatary_id)
        {
            if(data.destinatary_id in XLNotifications.sockets)
            {
                for(var i in XLNotifications.sockets[data.destinatary_id])
                {
                    io.to(XLNotifications.sockets[data.destinatary_id][i]).emit('custom_message', data);
                }
            }
        } else {
            io.emit('custom_message', data);
        }
    });
});

instance.listen({{ bundle_config.nodejs_settings.port }}, function(){
    // echo is not allowed when instantiated from PHP
    console.log('Notifications Server listening on port {{ bundle_config.nodejs_settings.port }}');
});

/*
// sending to sender-client only
socket.emit('message', "this is a test");

// sending to all clients, include sender
io.emit('message', "this is a test");

// sending to all clients except sender
socket.broadcast.emit('message', "this is a test");

// sending to all clients in 'game' room(channel) except sender
socket.broadcast.to('game').emit('message', 'nice game');

// sending to all clients in 'game' room(channel), include sender
io.in('game').emit('message', 'cool game');

// sending to sender client, only if they are in 'game' room(channel)
socket.to('game').emit('message', 'enjoy the game');

// sending to all clients in namespace 'myNamespace', include sender
io.of('myNamespace').emit('message', 'gg');

// sending to individual socketid
socket.broadcast.to(socketid).emit('message', 'for your eyes only');
*/